html,
body {
  width: 100%;
  height: 100%;

  justify-content: center;
  margin: 0 auto;
  background: linear-gradient(245deg, #7f7fd5, #86a8e7, #91eae4, #9bb5e1);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  -o-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 86% 0%;
  }
  50% {
    background-position: 15% 100%;
  }
  100% {
    background-position: 86% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 86% 0%;
  }
  50% {
    background-position: 15% 100%;
  }
  100% {
    background-position: 86% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 86% 0%;
  }
  50% {
    background-position: 15% 100%;
  }
  100% {
    background-position: 86% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 86% 0%;
  }
  50% {
    background-position: 15% 100%;
  }
  100% {
    background-position: 86% 0%;
  }
}

* {
  user-select: none;
}

.blurfilter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
}

.alert-window {
  width: 50%;
  z-index: 1000;
 }

.main-logo {
  width: 10rem;
  height: 10rem;
  padding: 0 auto;
  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  position: absolute;
  z-index: 10;
}

.glass-container {
  width: 33rem;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 45px;
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.bottom-text {
  margin-top: 6.5rem;
  color: #595959;
  font-size: 16px;
  font-weight: 200;
  white-space: nowrap;
  position: absolute;
}

.bottom-text p:hover {
  animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.loading-ani {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1000;
}

.loader {
  position: absolute;
  top: calc(50% - 87px);
  left: calc(50% - 47px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  perspective: 800px;
  z-index: 1000;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1000;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}